<body>
<div id = "header-instance">Loading header...</div>

<template id = "outlink-template"><a class = "button" href = "">Out Link Name</a></template>
<template id = "download-all-template"><a class = "button-important" download href = "">Download</a></template>


<main>
	<div id = "project-title">
		<h1 id = "title">Loading...</h1>
		<div id = "tags"></div>
	</div>

	<div id = "project-container">
		<div id = "actions">
			<div id = "outlinks"></div>
		</div>

		<div id = "grid">
			<div id = "information">
				<p id = "description"></p>
			</div>

			<div id = "content">
				<img alt = "Project Cover" id = "cover" src = "">
				<div id = "gallery"></div>
			</div>
		</div>
	</div>

	<a class = "button" href = "../../index.html" id = "returnBtn">Back to homepage</a>
</main>

<!-- Contact Section. -->
<div id = "footer-instance">Loading footer...</div>
</body>
