@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

// Theme from: https://www.realtimecolors.com/?colors=121211-f6f4ef-5e4921-a2abb9-eca409&fonts=Inter-Inter
$themes: (
        light: (
                text: #121211,
                background: #f6f4ef,
                primary: #5e4921,
                secondary: #a2abb9,
                accent: #eca409,
                shadow-highlight: #ffffff30,
                shadow-dark: #00000030,
                shadow-soft: #00000015,
        ),
        dark: (
                text: #eeeeed,
                background: #100e09,
                primary: #dec9a1,
                secondary: #464f5c,
                accent: #f6ae13,
                shadow-highlight: rgba(255, 255, 255, 0.25),
                shadow-dark: rgba(0, 0, 0, 0.25),
                shadow-soft: rgba(0, 0, 0, 0.13),
        ),
);
$highlight-strength: 85%;


@mixin BottomFadeOverlay($height: 1rem, $colour: white) {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: $height;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, $colour);
}

@mixin ButtonBase {
  background-color: var(--colour-secondary);
  border-radius: 0.4rem;
  cursor: pointer;
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: none;
  margin: 1.5rem auto 0;
  box-shadow: var(--shadow-s);
  transition: transform 0.1s;

  &:hover {
    filter: brightness($highlight-strength);
    box-shadow: var(--shadow-l);
    transform: scale(1.01);
  }
}

@mixin ExportTheme($theme-name, $selector) {
  $theme: map-get($themes, $theme-name);

  #{$selector} {
    color-scheme: #{$theme-name};

    @each $property, $value in $theme {
      --colour-#{$property}: #{$value};

      @if $property == background {
        --colour-#{$property}-lighter: #{lighten($value, 5%)};
        --colour-#{$property}-darker: #{darken($value, 5%)};
      }

      @if $property == primary or $property == secondary {
        --colour-#{$property}-lighter: #{lighten($value, 5%)};
      }

      @if $property == text {
        --colour-#{$property}-invert: #{if(lightness($value) > 50%, #000, #fff)};
      }
    }

    // Precomputed highlight ramps.
    $shadow-highlight: map-get($theme, shadow-highlight);
    --shadow-highlight-s: #{$shadow-highlight};
    --shadow-highlight-m: #{lighten($shadow-highlight, 6%)};
    --shadow-highlight-l: #{lighten($shadow-highlight, 12%)};

    // Final shadows.
    --shadow-s: inset 0 3px 6px var(--shadow-highlight-s),
    0 1px 2px var(--colour-shadow-dark),
    0 2px 4px var(--colour-shadow-soft);

    --shadow-m: inset 0 3px 6px var(--shadow-highlight-m),
    0 2px 4px var(--colour-shadow-dark),
    0 4px 8px var(--colour-shadow-soft);

    --shadow-l: inset 0 3px 6px var(--shadow-highlight-l),
    0 4px 8px var(--colour-shadow-dark),
    0 8px 16px var(--colour-shadow-soft);
  }
}


:root {
  font-family: "Ubuntu San Mono", monospace;
}

@include ExportTheme(light, ":root");
@include ExportTheme(dark, '[data-theme="dark"]');


header, footer {
  width: 100%;
  padding: 0.35rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1000;
  margin: 0;

  $border-size: 0.2rem;
  background: var(--colour-background);
  border: $border-size solid var(--colour-background-lighter);
  border-left: 0;
  border-right: 0;
}

header {
  position: sticky;
  border-top: none;
  justify-content: space-between;

  .header-left a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #theme-toggle {
    display: inline-block;
    margin: 0;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      display: block;
    }
  }
}

body {
  background: var(--colour-background-darker);
  color: var(--colour-text);
  margin: 0;
  padding: 0;

  main {
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  #about-section {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 4rem;

    #about-info {
      flex: 1;
      max-width: 50%;
      text-align: center;

      .profile-img {
        border-radius: 50%;
        display: block;
        margin: 1rem auto;
        width: 13rem;
        box-shadow: var(--shadow-l);
      }

      $top-margin-width: 1.5rem;

      h2 {
        margin-top: $top-margin-width/3;
      }

      p {
        margin-top: $top-margin-width;
      }
    }

    #about-promotion {
      flex: 1;
      max-width: 50%;
      padding: 1.5rem;
      border-radius: 0.75rem;
      background: var(--colour-background);
      text-align: center;
      box-shadow: var(--shadow-l);

      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      a {
        display: inline-block;
      }
    }
  }

  #projects-section {
    h2 {
      text-align: center;
      font-size: 2rem;
    }
  }

  #projects-layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(180px, 22%) 1fr;
    padding: 1rem;
    background: var(--colour-background);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-s);

    #filter-sidebar {
      border-radius: 0.6rem;
      height: fit-content;
      padding: 1rem;
      position: sticky;
      top: 1rem;

      #filter-container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        button {
          display: inline-block;
        }
      }
    }

    #project-container {
      width: 100%;
      text-align: center;

      #projects {
        display: grid;
        gap: 1.2rem;
        justify-content: start;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1.5rem;

        .project-card {
          $bg-colour: var(--colour-background-lighter);
          background: $bg-colour;
          border-radius: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-bottom: 0.5rem;
          padding: 1rem;
          transition: transform 0.2s;
          max-width: 320px;
          width: 100%;
          box-shadow: var(--shadow-m);

          &:hover {
            transform: scale(1.03);
            box-shadow: var(--shadow-l);
            border: 1px solid var(--colour-accent);
          }

          img {
            border-radius: 0.4rem;
            width: 100%;
          }

          h3 {
            margin: .5rem 0.2rem 0.2rem;
          }

          .project-card-short {
            $line-height: 1.4rem;
            line-height: $line-height;
            max-height: $line-height * 3;
            overflow: hidden;
            position: relative;
            margin-top: 1rem;
            margin-bottom: 0.75rem;

            &.has-fade::after {
              @include BottomFadeOverlay(1.1rem, $bg-colour);
              bottom: 0;
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            $gap-size: 0.2rem;
            $height-size: 1.6rem;
            gap: $gap-size;
            max-height: calc($gap-size + $height-size * 2);
            overflow: hidden;
            position: relative;

            &.has-fade::after {
              @include BottomFadeOverlay(1rem, $bg-colour);
              bottom: 0;
            }
          }
        }
      }

      #loadMoreButton {
        display: inline-block;
      }
    }
  }

  a {
    color: var(--colour-text);
    text-decoration: none;
  }

  .link {
    &:hover {
      color: var(--colour-accent);
    }
  }

  .tag {
    background: var(--colour-secondary);
    border-radius: 0.4rem;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.1rem;
    padding: 0.3rem 0.4rem;
    box-shadow: var(--shadow-s);
  }

  // .button class is to be used on non-button objects like hyperlinks.
  .button, button {
    @include ButtonBase;

    &.filter-button.active {
      background-color: var(--colour-accent);
    }
  }

  .button-important {
    @include ButtonBase;
    font-weight: 600;
    background-color: var(--colour-primary);
    color: var(--colour-text-invert);
    box-shadow: var(--shadow-m);
    transition: 0.1s;

    &:hover {
      filter: none;
      box-shadow: var(--shadow-l);
      transform: scale(1.01);
    }
  }

  .collapsible {
    @include ButtonBase;
    background-color: var(--colour-background-lighter);
    padding: 18px;
    width: 100%;
    position: relative;
    box-shadow: var(--shadow-m);
    margin: 0;
    font-size: 15px;
    text-align: left;

    .symbol {
      font-size: 25px;
      color: var(--colour-accent);
      font-weight: 700;
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    $padding-size: 0.8rem;
    padding: 0 $padding-size $padding-size;
    transition: max-height 0.25s ease, opacity 0.2s ease;

    &.is-open {
      opacity: 1;
    }

    button {
      display: inline-flex;
      margin: 0;
    }
  }


  @media (max-width: 900px) {
    #projects-layout {
      grid-template-columns: 1fr;

      #filter-sidebar {
        position: relative;
        top: 0;
      }
    }

    #about-section {
      flex-direction: column;
    }

    #about-info,
    #about-promotion {
      max-width: 100%;
    }
  }

  @media (max-width: 600px) {
    max-width: 95%;
    padding: 1rem;

    .profile-img {
      width: 6rem;
    }
  }
}

footer {
  margin-top: 3rem;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: none;
}