@import "../utilities/variables";
@import "../utilities/mixins";

@import "../theme/themes";
@import "../theme/typography";
@import "../theme/elements";

@import "../layout/base";
@import "../layout/header";
@import "../layout/footer";

@import "../components/buttons";
@import "../components/collapsible";
@import "../components/project-card";


@include ExportTheme(light, ":root");
@include ExportTheme(dark, '[data-theme="dark"]');


#project-title {
  text-align: center;
  margin-bottom: 3.5rem;

  #title {
    margin-bottom: 1rem;
  }

  #tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.15rem;

    // Shrink down the tags.
    .tag {
      font-size: 0.7rem;
      padding: 0.2rem 0.3rem;
      border-radius: 0.3rem;
    }
  }
}

#project-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #actions {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    a.button, a.button-important {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
      white-space: nowrap;
      margin: 0.2rem;
    }
  }

  #grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;

    #information {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 1.6rem;
    }

    #content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      #cover {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: var(--shadow-l);
        object-fit: cover;
      }

      #gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;

        img {
          width: 100%;
          border-radius: 0.4rem;
          object-fit: cover;
        }
      }
    }
  }
}