@import "../utilities/variables";
@import "../utilities/mixins";

@import "../theme/themes";
@import "../theme/typography";
@import "../theme/elements";

@import "../layout/base";
@import "../layout/header";
@import "../layout/footer";

@import "../components/buttons";
@import "../components/collapsible";
@import "../components/project-card";
@import "../components/navigation";
@import "../components/codeblock";


@include ExportTheme(light, ":root");
@include ExportTheme(dark, '[data-theme="dark"]');


#project-title {
  text-align: center;
  margin-bottom: 3.5rem;

  #title {
    margin-bottom: 1rem;
  }

  #tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.15rem;

    // Shrink down the tags.
    .tag {
      font-size: 0.7rem;
      padding: 0.2rem 0.3rem;
    }
  }
}

#project-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #actions {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    a.button, a.button-important {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
      white-space: nowrap;
      margin: 0.2rem;
    }
  }

  #grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 5rem;
    align-items: start;

    #information {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 1.6rem;
      padding: 0 0.5rem 0.5rem;

      p {
        margin: 0;
      }

      #code {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55ch, 1fr));
        gap: 1rem;
        justify-content: center;
        margin: 2rem 0;
        max-width: 100%;

        .codeblock {
          display: flex;
          flex-direction: column;
          max-width: 100%;
        }
      }

    }

    #content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: var(--colour-background);
      border-radius: $border-radius;
      padding: 1rem;
      box-shadow: var(--shadow-m);

      #cover {
        width: 100%;
        border-radius: $border-radius;
        object-fit: cover;
      }

      #gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        gap: 1rem;

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: $border-radius;
        }

        video {
          background: #000;
        }
      }
    }
  }
}

#returnBtn {
  position: relative;
  bottom: 0;
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  height: 1.4rem;
}