@mixin BottomFadeOverlay($height: 1rem, $colour: white) {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: $height;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, $colour);
}

@mixin ButtonBase {
  @include SelectOnHover(1.01, 0, black, 0.1s);

  background-color: var(--colour-secondary);
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  box-shadow: var(--shadow-s);
  margin: 0.5rem;

  &:hover {
    filter: brightness($highlight-strength);
    box-shadow: var(--shadow-l);
  }
}

@mixin SelectOnHover($scale: 1.03, $thickness: 2px, $colour: var(--colour-accent), $speed: 0.2s) {
  transition: transform $speed;
  border: none;

  &:hover {
    transform: scale($scale);
    border: $thickness solid $colour;
  }
}
