@mixin BottomFadeOverlay($height: 1rem, $colour: white) {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: $height;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, $colour);
}

@mixin ButtonBase {
  background-color: var(--colour-secondary);
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: none;
  box-shadow: var(--shadow-s);
  transition: transform 0.1s;
  margin: 0.5rem;

  &:hover {
    filter: brightness($highlight-strength);
    box-shadow: var(--shadow-l);
    transform: scale(1.01);
  }
}
