footer {
  width: 100%;
  padding: 0.35rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  z-index: 1000;
  margin: 0;
  margin-top: 3rem;
  flex-direction: column;

  background: var(--colour-background);
  border-top: $header-footer-border-size solid var(--colour-background-lighter);
}
