.button-important {
  @include ButtonBase;
  font-weight: 600;
  background-color: var(--colour-primary);
  color: var(--colour-text-invert);
  box-shadow: var(--shadow-m);

  &:hover {
    filter: none;
    box-shadow: var(--shadow-l);
  }
}