.nav {
  @include SelectOnHover(1.02, 0, transparent, 0.01s);
  background-color: transparent;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-align: center;

  &:hover {
    text-decoration: underline;
    color: var(--colour-accent);
  }
}