.project-card {
  @include SelectOnHover;
  $bg-colour: var(--colour-background-lighter);
  background: $bg-colour;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
  max-width: $card-size;
  width: 100%;
  box-shadow: var(--shadow-m);
  text-align: start;

  &:hover {
    box-shadow: var(--shadow-l);
  }

  img {
    border-radius: $border-radius;
    width: 100%;
  }

  h3 {
    margin: .5rem 0.2rem 0.2rem;
  }

  .project-card-short {
    $font-size: 0.9rem;
    $line-height: $font-size + 0.4rem;
    line-height: $line-height;
    max-height: $line-height * 3.5;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: $font-size;

    &.has-fade::after {
      @include BottomFadeOverlay(1.1rem, $bg-colour);
      bottom: 0;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    $gap-size: 0.2rem;
    $height-size: 1.6rem;
    gap: $gap-size;
    max-height: calc($gap-size + $height-size * 2);
    overflow: hidden;
    position: relative;

    &.has-fade::after {
      @include BottomFadeOverlay(1rem, $bg-colour);
      bottom: 0;
    }
  }
}